<header>
  <div class="container">
    <a routerLink="/" class="logo"><i>Mindtree Digital Restaurent.🍽️</i></a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="!isAuth" class="menu-container">
          <a routerLink="/dashboard">{{user.name}}</a>
          <div class="menu">
            <a routerLink="/profile">My profile</a>
            <a routerLink="/orders">My orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span *ngIf="cartQuantity" >{{cartQuantity}}</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
